appdirs>=1.4.0
autorepr==0.3.0
click==6.7
-e git+https://github.com/alces-software/click-repl.git@6a809b2af43054035027618f9fd37af4c31a8abc#egg=click_repl
packaging==16.8
prompt-toolkit==1.0.9
pyparsing==2.1.10
requests==2.20.0
requests-file==1.4.1
six==1.10.0
terminaltables==3.1.0
wcwidth==0.1.7
